<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать данные о пользователе</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Ошибка в ФИО</div>
    <br/>
    <label for="yearOfBirthday">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirthday}" id="yearOfBirthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirthday')}" th:errors="*{yearOfBirthday}">Ошибка в годе рождения</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>